{% extends "base.html" %}

{% block structure %}
   <div id="sidebar_right" class="middle">
      <div class="container_11">
                  <h1>About us!</h1>
                  <div class="divider"></div>
       			<div class="columns2">
					<div class="column">
						<h3><span class="dropcap2">1</span> Our Team</h3>

						<p>Aliquam imperdiet massa vel sapi tempus hendrerit vestibulum nec leo augue, setur adipiscing nibh mauris rutrum dui quierat feugiat ut posuere est fringilla praes tilum</p>
					</div>
					<div class="column">
						<h3><span class="dropcap2">2</span> Our Project</h3>
						<p>Aliquam imperdiet massa vel sapi tempus hendrerit vestibulum nec leo augue, setur adipiscing nibh mauris rutrum dui quierat feugiat ut posuere est fringilla praes tilum</p>
					</div>

					<div class="column">
						<h3><span class="dropcap2">3</span> Help out!</h3>
						<p>Aliquam imperdiet massa vel sapi tempus hendrerit vestibulum nec leo augue, setur adipiscing nibh mauris rutrum dui quierat feugiat ut posuere est fringilla praes tilum</p>
					</div>
					<div class="clear"></div>
				</div>	
				<div class="divider_space"></div>

       			<div class="columns3">
					<div class="column">
						<h3>List of things we're doing:</h3>
						<ol class="ordered-type1">
							<li>Aenean in tincidunt enim. Phasellus gravida</li>
							<li>Nam consequat libero eu risus vestibulum</li>
							<li>Maecenas dictum ligula id diam vestibulum</li>

							<li>Eget hendrerit justo ipsum et dolor</li>
							<li>Praesent nulla elit, fringilla tristique ornare</li>
							<li>Donec pretium pretium a pellentesque urna</li>
							<li>Nam sed metus in velit condimentum posuere</li>
							<li>Nam non tortor congue dolor rhoncus luctus</li>
							<li>Pellentesque ligula diam, volutpat quis</li>

							<li>Nulla at eros vitae mi iaculis sagittis</li>
						</ol>
					</div>
					<div class="column" data-place="2">
						<h3>Why we're so freakin' awesome:</h3>
						<div class="thumb alignleft">
							<a data-rel="prettyPhoto" href="gallery/fullscreen/02.jpg"><img class="thumb" src="" width="200" height="154"  alt="Picture alone 1" /></a>
						</div><!--/ thumb-->

						<p>Sed neque odio, malesuada tincidunt vestibulum id, condimentum vitae lacus. Suspendisse in quam libero. Aenean et felis sem, non lacinia est. Fusce in commodo elit.</p>
						<p>Etiam pharetra condimentum convallis. Etiam fermentum feugiat neque id feugiat. Morbi egestas neque non nunc imperdiet adipiscing. Cras a erat vitae nulla aliquet faucibus vel vitae nisl. Ut faucibus, dolor non hendrerit rhoncus, sem risus scelerisque sem, quis ullamcorper est arcu ac purus. Donec et mi vitae arcu iaculis iaculis eget eget dolor.</p>
					</div>
					<div class="clear"></div>
				</div>	
                        
                 <div class="clear"></div> 
     </div><!--/ container_11-->
    </div><!--/ sidebar_right-->
{% endblock %}
