{% extends "base.html" %}

{% block structure %}
   <div id="sidebar_right" class="middle">
      <div class="container_11">
                  <h1>About us!</h1>
                  <div class="divider"></div>
       			<div class="columns2">
					<div class="column">
						<h3><span class="dropcap2">1</span> Our Team</h3>

						<p>Our team is headed up by Jacques Favreau and Chris Gilmer and handfuls of friends/acquaintances/conscripts we brought on board to help us drag this thing together in a manner of days (we heard about the contest a little late)</p>
                        <p>We're currently hosted by Dreamhost, who are a fine bunch of chaps; should you be in the market for inexpensive hosting, check 'em out.</p>
                        <div class="thumb alignleft">
							<a rel="prettyPhoto" href="{{STATIC_URL}}images/theOriginalCrew-large.jpg"><img class="thumb" src="{{STATIC_URL}}images/theOriginalCrew.jpg" width="400" height="193"  alt="The Original Crew" title="The Original Django Djents crew at the launch of our first project together: the central directory system for the Burning Man festival. Three weeks of development, 900 miles of travel, and 15,000 user-generated listings in total." /></a>
						</div><!--/ thumb-->
					</div>
                    
					<div class="column">
						<h3><span class="dropcap2">2</span> Our Project</h3>
						<p>When we get some time, we'll fill this in about how we actually came up with the idea of solving this problem, where we see it going, and how we think it could be applied outside of this competition.</p>
					</div>

					<!-- <div class="column">
						<h3><span class="dropcap2">3</span> Why Child's Play</h3>
						<p>Two reasons: 1) We're all nerds. 2) Childhood illness and therapy suck.</p>
                        <p>Every year since 2003, Child's Play has provided video games, toys, and books to over 70 hospitals worldwide. People purchase items from the Amazon wish lists they set up or, given cash directly, Child's Play will purchase and distribute everything from books to consoles. How can you NOT want to put a smile on the face of a kid who's spending enough time in a hospital to actually use a full game campaign?</p>

                        </p>
					</div> -->
					<div class="clear"></div>
				</div>	
				<div class="divider_space"></div>

       			<div class="columns3">
       			    <a name="secondRow" id="secondRow"></a>
					<div class="column">
						<h3>How does the prize money break down?</h3>
                        <p>If (when, dang it) we win the DARPA prize the prize will be split up in the following categories.</p>
						<ul class="ordered-type1">
							<li>$25,000 goes to Child's Play.</li>
	<li>$5,200 goes to the top players and teams.</li>
	<li>$10,000 is up for development challenges to improve our system.</li>
	<li>The remainder is slated to help defray hosting costs (a system with this much activity melts cheap shared servers down, so we have to go to the bigger guns), feed the code monkeys, and generally <span style="text-decoration: line-through;">bribe</span> incentivize work on this project. </li>
						</ul>
                        
					</div>
					<div class="column" data-place="2">
						<h3>Why Child's Play?</h3>
						<div class="thumb alignleft">
							<a data-rel="prettyPhoto" href="{{STATIC_URL}}images/childsplay_logo.jpg"><img class="thumb" src="{{STATIC_URL}}images/childsplay_logo.jpg" width="137" height="154"  alt="Child's Play Logo" title="Child's Play Logo" /></a>
						</div><!--/ thumb-->
						<p>Two reasons:</p>
                        <ol class="ordered-type1">
							<li>We're all nerds.</li>
                            <li>Childhood illness and therapy suck.</li>
                        </ol>
                        <br />
                        <p>Every year since 2003, Child's Play has provided video games, toys, and books to over 70 hospitals worldwide. People purchase items from the Amazon wish lists they set up or, given cash directly, Child's Play will purchase and distribute everything from books to consoles.</p>
                        <p> How can you NOT want to put a smile on the face of a kid who's spending enough time in a hospital to actually use a full game campaign?</p>
					</div>
					<div class="clear"></div>
				</div>	
                        
                 <div class="clear"></div> 
     </div><!--/ container_11-->
    </div><!--/ sidebar_right-->
{% endblock %}
