<!DOCTYPE html>
<html>
<head>
	{% block topHead %}{% endblock topHead %}
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link href="{{STATIC_URL}}images/favicon.png" type="image/png" rel="Shortcut Icon">
	<style type="text/css">
		@import url(/static/css/templatestyles.css);		/*link to the main CSS file */
    </style>
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" />
	<title>{% block title %}UnRend{% endblock title %}</title>
	
	<!-- Initialise jQuery Library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/template/flashobject.js"></script>
	{% block bottomHead %}{% endblock bottomHead %}
    <script>
        $(document).ready(function(){
            if($("#headlineNews").children().size()>0){
                $("#headlineNews").slideDown('fast', function(){});
            }
        });
    </script>
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5757304-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
</script>
</head>
<body>
	<div id="top_full">
		<div class="container_12">
			<div class="social_top">
        		{% if user.is_authenticated %}
                    Hi, {{ user.username }}. Click <a href="/auth/logout/">here</a> to log out.
                {% else %}
                    Please <a href="/login/">log in</a> to help us win!
                {% endif %}
                <a class="hsample_01" href="https://www.facebook.com/unrend">Facebook</a>
        	</div><!--/ social_top-->
    	</div><!--/ container_12-->
 	</div><!--/ top_full-->
    <div id="header-top">
        <div class="container_12">
            <div class="logo">
                <a href="/">
                    <!-- <img src="" width="171" height="43" alt=""> -->
                    Un<span>Rend</span>
                </a>
            </div><!--/ logo-->
                <div class="nav-menu">
                    <ul class="sf-menu">
                        <li class="current-menu-item"><a href="/">Home</a></li>
                        <li><a href="/about/">About Our Project</a></li>
                        <li><a href="/game/">Play The Game!</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div><!--/ nav-->
      </div><!--/ container_12--> 
    </div><!--/ header-->
    <div class="headlineNews" id="headlineNews" style="display:none;">
        {% block headlineNews %}{% endblock headlineNews %}
    </div>
    <!-- THIS IS THE HOME PAGE STUFF!-->
    {% block structure %}{% endblock structure %}
   
  <div id="sidebar-footer">
    <div id="fsb">
        <!-- SIDEBAR FOOTER INFORMATION -->
        {% block sidebarFooter %}{% endblock sidebarFooter %}
    </div><!--/ fsb-->
  </div><!--/ sidebar-footer-->
  <div id="footer_full">
    <div id="footer">
      <p class="copyright">Copyright &copy; 2011 &bull; Chris &amp; Jacques of Goat Rodeo Productions &bull; All rights reserved</p>
      <p class="developed">Developed by: <a class="fsample_01" href="#">Chris</a> &amp; <a class="fsample_01" href="#">Jacques</a></p>
      <div class="clear"></div>
    </div>
  </div><!--/ footer_full-->
</div><!--/ full-content-->
<script type="text/javascript" src="/static/js/template/general.js"></script>
</body>
</html>
