{% extends "base.html" %}

{% block structure %}
 <div class="clear"></div>
    <!-- Begin Slider -->
    <div id="slider" class="sample_01 pattern_01">
		<div class="slider-top">
      		<div class="slider-bottom">
              <div class="anythingSlider">     	
                  <ul id="slider3">
                      <!--/ textSlide-->
                      <li>
                        <div class="txt_slide_left">
                            <h2>Our <span class="fsample_01">plan</span></h2>
                            <h4>Yeah, we totally have one!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                             <!-- <a href="portfolio_4col.html" class="btn_gal"></a> -->
                        </div>
                        <div class="slide_pic_right"><img src="/static/images/template/slider/any_slide_1.png" width="420" height="344" alt="" /></div>
                      </li>
                      
                     
                  </ul>
                </div>  
           </div><!--/slider-top-->
         </div><!--/slider-bottom-->
       </div><!--/ slider-->   
	   <!-- End Slider -->
<div class="full-content">
  <div class="container_11">
   <div class="content">
        <div class="columns">
            <div class="column">
                <div class="count"><img src="/static/images/template/one.png"  width="25"  height="70" alt="1"></div>
                <h3>Cut a Hole</h3>
             	<p class="fsample_01">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
              	<a href="#" class="read">Read more</a> 
            </div><!--/column-->
            <div class="column">
              	<div class="count"><img src="/static/images/template/two.png" width="39"  height="70" alt="2"></div>
                <h3>Put In</h3>
                <p class="fsample_01">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
              	<a href="#" class="read">Read more</a> 
            </div><!--/column-->
            <div class="column">
                <div class="count"><img src="/static/images/template/three.png" width="36"  height="75" alt="3"></div>
                <h3>Open</h3>
                <p class="fsample_01">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
            	<a href="#" class="read">Read more</a> 
            </div><!--/column-->
            <div class="column">
               	 <div class="count"><img src="/static/images/template/four.png" width="41"  height="70" alt="4"></div>
               	 <h3>How You Do</h3>
                 <p class="fsample_01">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
             	 <a href="#" class="read">Read more</a> 
            </div><!--/column-->
            <div class="clear"></div>
        </div><!--/column-->  
   </div><!--/ content-->
 </div><!--/ container_11-->
{% endblock %}
