{% extends "base.html" %}

{% block structure %}
   <div id="sidebar_right" class="middle">
      <div class="container_11">
			{% block content %}
			    <h1 class="title">Winnings</h1>
			    <div class="divider"></div>
                <h3>What? Did you say I could win money while helping fund an awesome charity? How does that work?</h3>
			    <p>Well, first off, even if you only match up a single piece, your name goes on the donor list to Child's play and that's pretty neat.</p>
                <p>Neat not what you're here for? Ok, we'll toss in some cold cash to sweeten the deal. Here's how that will break down:</p>
                <div class="columns" id="columnsContainer1" >
                    <div class="column">
                        <h4>The top five contributing teams:</h4>
                        <ul class="ordered-type1">
                            <li>1st: $1,000.00 and $2,000.00 donated in their name</li>
                            <li>2nd: $900.00 and $1,800.00 donated in their name</li>
                            <li>3rd: $800.00 and $1,600.00 donated in their name</li>
                            <li>4th: $700.00 and $1,400.00 donated in their name</li>
                            <li>5th: $600.00 and $1,200.00 donated in their name</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h4>The top five contributing people:</h4>
                        <ul class="ordered-type1">
                            <li>1st: $1,000.00 and $2,000.00 donated in their name</li>
                            <li>2nd: $800.00 and $1,600.00 donated in their name</li>
                            <li>3rd: $600.00 and $1,200.00 donated in their name</li>
                            <li>4th: $400.00 and $800.00 donated in their name</li>
                            <li>5th: $200.00 and $400.00 donated in their name</li>
                        </ul>
                    </div>
                </div>
			    <div class="divider_space"></div>
                <h3>How do I become a top contributor?</h3>
                <p>REALLY easily. Just log in and play the Matching Game! Every time you correctly identify a match or a non-match you get points and the rankings are based on these points. </p>
                <p>Part of a team? Every point you earn for yourself also gets applied to your team's total score, and we rank the teams on their combined contribution. </p>
                <div class="divider_space"></div>
                <h3>Why not just send in "Not a match" or "match" for every part and earn ALL the points? </h3>
                <p>This, my new internet friend, is what we call cheating. As in other things, this is frowned upon. Unlike other things, we have a very easy way of dealing with this: <span style="font-weight:bold">every pair you misidentify counts against you</span>. The first miss or two you're not going to see a huge change in your score - we all make mistakes - but after that it starts to <span style="font-weight:bold">really eat away at your total in a very exponential way</span>. There is no way you're going to be able to maintain a positive score, much less get on the high-contributor rankings with a random guess. Too many wrong votes and all of your work is zeroed out to make sure our database of matches remains uncorrupted. </p>
                <p>Please do not try this, or other guessing tactics. We know math too. It's purposefully set up to drop you into the negative and wash-out point rages very quickly. We're not trying to be jerks, but this kind of stuff really hurts our efforts and is a pain to deal with. Please play nice. </p>
                <div class="divider_space"></div>
                <h3>Wait, why aren't you just giving all the money to Child's Play or another deserving organization?</h3>
                <p>Originally this was our intent, and we would greatly encourage the winners to do this with their victory cash, but we also want to add a bit of a "some for me, some for you" incentive to the whole process to get people excited about this project.</p>
                <div class="divider_space"></div>
                <h3>Do the top contributors get the money even if the unrend group does not win the DARPA shredder competition?</h3>
                <p>What do we look like, DARPA? ;)</p>
                <p>Sadly no, the earnings listed above are all speculative on the fact that the unrend team actually wins the full competition purse from DARPA. Should, for some reason, the team only win some portion of the purse, the disbursed amounts will be scaled according to the portion of the full purse we receive.</p>
</p>
			{% endblock content %}
         	<div class="clear"></div> 
     </div><!--/ container_11-->
    </div><!--/ sidebar_right-->
{% endblock %}
