#board{
    width:640px;
    height:480px;
    border: thin solid #DDD;
    margin-left:auto;
    margin-right:auto;
    background-color: #EEE;
}

#buttonContainer{
    width:640px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.sliderContainer { 
    padding: 10px; 
    width:640px;
    margin-left:auto;
    margin-right:auto;
    
    }
