body{
    font-size:14px;
}
p{
    font-size:14px;
    line-height:1.6;
}

#board{
    width:640px;
    height:480px;
    border: thin solid #DDD;
    margin-left:auto;
    margin-right:auto;
    background-color: #EEE;
}

#buttonContainer{
    width:640px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.sliderContainer { 
    padding: 10px; 
    width:640px;
    margin-left:auto;
    margin-right:auto;
    
    }

    
.logo {
	padding:20px 5px 15px 5px;
	float:left;
	line-height:.5;
} 

.txt_slide_left h4, .txt_video_left h4 {
	color:#000000;
	font-size:18px;
	line-height:1.4em;
	font-weight:100;
	margin-bottom:10px;
} 

.txt_slide_left p, .txt_video_left p {
	font-size:14px;
	color:#282828;
	line-height:1.7em;
} 

.column.justify p {
	text-align:justify;
} 

.columns .column a.read{
    text-align:center;
    width:165px;
    margin-right:auto;
    margin-left:auto;
    float:none;
    
}

.txt_slide_left {
	padding:60px 0 0 52px
} 

ul.ordered-type1 li,
ul.ordered-type2 li {
	line-height:2em;
	list-style-type:square;
    list-style-position:inside;
}
ol.ordered-type1 li,
ol.ordered-type2 li {
	line-height:2em;
	list-style-type:decimal;
    list-style-position:inside;
}

input.btn {
    cursor: pointer; 
    cursor: hand;
}

input.voteButton{
    padding:5px;
    margin: 5px;
    font-size:14px;

	background:url(/static/images/template/bg_nav.png) repeat 1px 1px #fff;
	border:1px solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d7d7d7;
	behavior: url(/static/js/template/PIE.htc);
}

input.voteButton:hover{
    color:#FFF;
    background-color:#2f2f2f;
    background:url(/static/images/template/current.png) repeat;
	border:1px solid #2f2f2f;
    text-decoration:none;
}