body{
    font-size:16px;
}
p{
    font-size:16px;
    line-height:1.6;
}

p {
	margin:0 0 1em 0;
	padding:5;	
}
a {
	text-decoration:underline;
	color: #282828;
} 

a, a:link, a:visited, a:focus {
	text-decoration:underline;
	outline:none;}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#282828; 
}

h1 {
	font:2.4em Arial, Helvetica, sans-serif;
	margin-bottom:0.5em;
}

h2 {
	font:28px Arial, Helvetica, sans-serif;
	margin-bottom:0.7em;
}

h3	{
	font:24px Arial, Helvetica, sans-serif;
	margin-bottom:0.8em;
}
				
h4	{
	font:20px Arial, Helvetica, sans-serif;
	margin-bottom:1em;
}

h5, h6	{
	font:1.3em Arial, Helvetica, sans-serif;
	margin-bottom:1.2em;
}    
    
    
#board{
    width:640px;
    height:480px;
    border: thin solid #DDD;
    margin-left:auto;
    margin-right:auto;
    background-color: #EEE;
}

#buttonContainer{
    width:640px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.sliderContainer { 
    padding: 10px; 
    width:640px;
    margin-left:auto;
    margin-right:auto;
    
    }

div.headlineNews{
    width:940px;
    margin:5px;
    margin-left:auto;
    margin-right:auto;
    background-color:#a0bf7c;
    color:white;
    padding: 4px 5px 3px 5px;
    border:solid 1px white;
}
.headlineNews p{
    margin:5px;
}

.logo {
	padding:26px 5px 15px 5px;
	float:left;
	line-height:.5;
    text-decoration:none;
} 
.logo a, .logo a span{
    text-decoration:none;
    font-size:46px;
    margin-top:20px;
    display:inline;
}

.txt_slide_left h4, .txt_video_left h4 {
	color:#000000;
	font-size:18px;
	line-height:1.4em;
	font-weight:100;
	margin-bottom:10px;
} 

.txt_slide_left p, .txt_video_left p {
	font-size:14px;
	color:#282828;
	line-height:1.7em;
} 

.column.justify p {
	text-align:justify;
} 

.columns .column a.read{
    text-align:center;
    width:165px;
    margin-right:auto;
    margin-left:auto;
    float:none;
    text-decoration:none;
    
}

.txt_slide_left {
	padding:20px 0 0 52px
} 

ul.ordered-type1 li,
ul.ordered-type2 li {
	line-height:2em;
	list-style-type:square;
    list-style-position:inside;
}
ol.ordered-type1 li,
ol.ordered-type2 li {
	line-height:2em;
	list-style-type:decimal;
    list-style-position:inside;
}

input.btn {
    cursor: pointer; 
    cursor: hand;
}

input.voteButton{
    padding:5px;
    margin: 5px;
    font-size:14px;
	background:url(/static/images/template/bg_nav.png) repeat 1px 1px #fff;
	border:1px solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d7d7d7;
	behavior: url(/static/js/template/PIE.htc);
}

input.voteButton:hover{
    color:#FFF;
    background-color:#2f2f2f;
    background:url(/static/images/template/current.png) repeat;
	border:1px solid #2f2f2f;
    text-decoration:none;
}

a.splashReadMore{
    font-size:150%;
    padding:5px;
    background:url(/static/images/template/bg_nav.png) repeat 1px 1px #fff;
	border:1px solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d7d7d7;
	behavior: url(/static/js/template/PIE.htc);
	text-align:center;
	display:block;
	width:170px;
	margin-right:auto;
	margin-left:auto;
    text-decoration:none;
}

.slide_pic_right {
    padding-top: 80px;
}

span.voteButton{
    padding:5px;
    margin: 5px;
    font-size:14px;
	background:url(/static/images/template/bg_nav.png) repeat 1px 1px #fff;
	border:1px solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d7d7d7;
	behavior: url(/static/js/template/PIE.htc);
    
    /* TEST */
    color:#FFF;
    background-color:#2f2f2f;
    background:url(/static/images/template/current.png) repeat;
	border:1px solid #2f2f2f;
    text-decoration:none;
}
.text-center{
    text-align:center;
}

.divider_thin_space {
	clear:both;
	width:100%;
	border-top:1px solid #d7d7d7;
	margin: 5px;
	display:block;
} 
span.italic{
    font-style:italic;
}
.bold{
    font-weight:bold;
}

ul.sf-menu > li > a  {
	color:#282828;
	display:block;	
	line-height:24px;
	padding:0 9px;
	font-size:12px;
    text-decoration:none;
} 

h1.title {
	font-family: 'RochesterRegular';
	color:#000;
	margin:0 0 8px 0;
	font-size:70px;
    text-align:center;
	/*text-transform:lowercase;*/
} 
a img.hoverIcon{
    background-color:none;
    padding:5px;
    border:none;
}
a img.hoverIcon:hover{
    background-color:#a0bf7c;
    -moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	border:0px solid #d7d7d7;
}